.header {
  grid-area: h;
  background-color: rgb(130, 233, 130);
  height: 100px;
  margin: 5px;
  border-radius: 5px;
}

.header img {
  width: 20px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}
